OZ	wttr.in/gold_coast
GC	wttr.in/gold_coast
Gold_Coast	wttr.in/gold_coast
BR	wttr.in/brisbane
Brisbane	wttr.in/brisbane
SY	wttr.in/sydney
Sydney	wttr.in/sydney
LA	wttr.in/los_angeles
Los_Angeles	wttr.in/los_angeles
SF	wttr.in/sf
San_Francisco	wttr.in/sf
MP	wttr.in/menlo_park
Menlo_Park	wttr.in/menlo_park
MV	wttr.in/mountain_view
Mountain_View	wttr.in/mountain_view
SJ	wttr.in/sjc
SJC	wttr.in/sjc
San_Jose	wttr.in/sjc
OAK	wttr.in/oakland
Oakland	wttr.in/oakland
BK	wttr.in/berkeley
Berkeley	wttr.in/berkeley
SLC	wttr.in/salt_lake_city
Salt_Lake_City	wttr.in/salt_lake_city
AU	wttr.in/austin
Austin	wttr.in/austin
DE	wttr.in/denver
Denver	wttr.in/denver
PDX	wttr.in/portland
Portland	wttr.in/portland
SEA	wttr.in/seattle
Seattle	wttr.in/seattle
CHI	wttr.in/chicago
Chicago	wttr.in/chicago
NY	wttr.in/new_york
NYC	wttr.in/new_york
New_York	wttr.in/new_york
New_York_City	wttr.in/new_york
BO	wttr.in/boston
Boston	wttr.in/boston
DC	wttr.in/washington_dc
Washington_DC	wttr.in/washington_dc
OR	wttr.in/orlando
Orlando	wttr.in/orlando
MI	wttr.in/miami
Miami	wttr.in/miami
AM	wttr.in/amsterdam
Amsterdam	wttr.in/amsterdam
LO	wttr.in/london
London	wttr.in/london
LI	wttr.in/liverpool
Liverpool	wttr.in/liverpool
PR	wttr.in/prague
Prague	wttr.in/prague
PA	wttr.in/paris
Paris	wttr.in/paris
BE	wttr.in/berlin
Berlin	wttr.in/berlin
MO	wttr.in/moscow
Moscow	wttr.in/moscow
NO	wttr.in/novokuznetsk
Novokuznetsk	wttr.in/novokuznetsk
IS	wttr.in/istanbul
Istanbul	wttr.in/istanbul
RK	wttr.in/reykjavik
Reykjavik	wttr.in/reykjavik
TO	wttr.in/tokyo
Tokyo	wttr.in/tokyo
KL	wttr.in/kuala_lumpur
Kuala_Lumpur	wttr.in/kuala_lumpur
BJ	wttr.in/beijing
Beijing	wttr.in/beijing
HK	wttr.in/hong_kong
Hong_Kong	wttr.in/hong_kong
